@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
  .heading-primary {
    @apply text-2xl font-bold leading-relaxed text-gray-900 lg:text-4xl;
  }
  h2,
  .heading-secondary {
    @apply text-xl font-medium leading-relaxed text-gray-900 lg:text-3xl;
  }
  h3 {
    @apply text-lg font-medium text-gray-900 lg:text-2xl;
  }
  h4 {
    @apply text-base font-medium text-gray-900;
  }

 .slick-track
{
    display: flex !important;
}

 .slick-slide{
    display: flex !important;
    height: inherit !important;
}

 .slick-slide > div{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

video{

  border-radius: 20px;
}

.cookie_wrapper{
  position: fixed;
  left: 0px;
  bottom: 0px;
  width:100%;
  background-color: #ffffff;
  padding: 24px 24px;
  border-radius: 12px;
}

.cookie_wrapper div{
  position: relative;
}
.cookie_wrapper .close{
  position: absolute;
  top: 10px;
  right: 10px;
}

.cookie_wrapper .link{
  color: #613fe5;
}

.cookie_wrapper span:nth-child(2){
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  gap: 10px;
  
}

.cookie_wrapper span:nth-child(2):nth-child(2) button{
 padding:6px 20px;
 border-radius: 6px;
 min-width: 140px;
 width: 100%;
}

.cookie_wrapper span:nth-child(2):nth-child(2) button:first-child{
 border: 1px solid #000000;
 }

 .cookie_wrapper span:nth-child(2):nth-child(2) button:nth-child(2){
  border: 1px solid #1f2c47;
  background-color: #1f2c47;
  color: #ffffff;
  }

  .cookie_wrapper span:nth-child(2):nth-child(2) button:nth-child(3){
    border: 1px solid #613fe5;
    background-color: #613fe5;
    color: #ffffff;
    }

    .cookie_wrapper span:first-child{
      color: #613fe5;
    }
    
    @media screen and (min-width:768px) {
      .cookie_wrapper{
        left: 30px;
        bottom: 10px;
        width:70%;
      }
      
      .cookie_wrapper span:nth-child(2){
        flex-direction: row; 
      }
      
       
    }

  @media screen and (min-width:1024px) {
    .cookie_wrapper{
      width:50%;
    }
  
  }

  @media screen and (min-width:1220px) {
    .cookie_wrapper{
      width:40%;
    }

  }

  /* image gallary css */
  .photo-frame {
    display: block;
    box-sizing: content-box;
    position: relative;
    background: #ffffff;
    cursor: grab;
    border-radius: 4px;
    box-shadow:
      rgb(0 0 0 / 20%) 0 3px 3px -2px,
      rgb(0 0 0 / 14%) 0 3px 4px 0,
      rgb(0 0 0 / 12%) 0 1px 8px 0;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  
  .photo-frame,
  .photo-frame img {
    outline: none;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;
  }
  
  .photo-frame.overlay {
    cursor: grabbing;
  }
  
  .photo-frame.active,
  .photo-frame.active img {
    opacity: 0.3;
  }
  
  .photo-frame.insertBefore:before,
  .photo-frame.insertAfter:after {
    content: "";
    position: absolute;
    background-color: #2196f3;
    border-radius: 4px;
  }
  
  .react-photo-album--row .photo-frame.insertBefore:before,
  .react-photo-album--row .photo-frame.insertAfter:after {
    top: 0;
    bottom: 0;
    width: 4px;
  }
  
  .react-photo-album--row .photo-frame.insertBefore:before {
    left: -17px;
  }
  
  .react-photo-album--row .photo-frame.insertAfter:after {
    right: -17px;
  }
  
  .react-photo-album--column .photo-frame.insertBefore:before,
  .react-photo-album--column .photo-frame.insertAfter:after {
    left: 0;
    right: 0;
    height: 4px;
  }
  
  .react-photo-album--column .photo-frame.insertBefore:before {
    top: -17px;
  }
  
  .react-photo-album--column .photo-frame.insertAfter:after {
    bottom: -17px;
  }

